body{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  text-align: center;
}

/* Utilities ------------ */

.white {
  color: white;
}

.pink-text{
  color: #ed0e51;
}

.heading-bold {
  /* font-weight: 600; */
  font-weight: 700;
}

.ls-1px {
  letter-spacing: -1px;
}

.png-shadow {
  filter: drop-shadow(16px 18px 20px rgba(0, 0, 0, 0.1));
}

p {
  font-size: 18px;
}

/* ------------ Utilities */



/* Header ----------- */

.header-container{
  /* background-color: lightseagreen; */
  background: center no-repeat / cover url(./../img/header-bg.jpg);
}
  .header {
  }
  .top-headline h1 {
    /* font-size: calc(100vw - (100vw*.96)); */
  }
    .white h4 {
      font-weight: 400;
    }
    h1.white {
      color: white;
      font-weight: 400;
      line-height: 1.1;
      letter-spacing: -1px;
    }
    .header .video {
      background: url(./../img/header-bg-video.png) repeat 0 0 / cover;
    }
      .features-list ul {
        list-style-type: none;
        /* list-style-image: url(./../img/tick.png); */
      }
        .features-list ul li {
          background-image: url(./../img/tick.png);
          background-repeat: no-repeat;
          background-position: 0px 8px;
          padding: 5px;
          padding-left: 25px;
        }
    .header-bottom .time-box  {
      background-color: #1d1945;
      font-size: 0.5rem;
      padding: 0.25rem 0.75rem 0.45rem;
      letter-spacing: 1px;
    }
      .header-bottom .time-box h3 {
        font-family: Open Sans, Arial;
      }
      .header-bottom a {
        background-color: #1cb85e;
        font-weight: 600;
        width: 200px;
        text-decoration: none;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
        padding: 1rem 1.5rem;
      }
      .header-bottom a h4 {
        font-weight: 600;
      }
        .header-bottom a:hover {
          color: white;
          box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.4);
        }

/* ----------- Header */


/* Section one ------------- */

.section-one {
  background: center no-repeat / cover  url(./../img/section-one-bg.png);
}
   .card {
    border-radius: 20px;
  }
    .section-one .card p {
      font-size: 0.9rem;
    }
      .card span.pink-text {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: -1px;
      }
        .card div h5 {
          font-size: 1rem;
          font-weight: 600;
        }
        .card div i {
          color: #f4c022;
        }
  .section-one .container > div:nth-child(2) h1 {
    font-weight: 700;
  }
  .section-one .container > div:nth-child(2) > div p {
    font-size: 1.2rem;
  }


/* ------------- Section one */


/* Niche Revolution start ------------- */

.niche-revolution-section {
  background: center no-repeat / cover url(./../img/niche-rev-bg.png);
  /* background-position: center; */
}
    .niche-revolution-section .logo img {
      /* box-shadow: 20px 0px 42px rgba(0, 0, 0, 0.2); */
      filter: drop-shadow(13px 10px 12px rgba(0, 0, 0, 0.2));
    }
    .niche-revolution-section h1.pink-text {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: -2px;
      text-shadow: 6px 10px 16px rgba(0, 0, 0, 0.2);
      /* text-shadow: 12px 20px 35px rgba(0, 0, 0, 0.2); */
    }
    .niche-revolution-section h1 + h1 {
      letter-spacing: -1px;
      line-height: 1;
      /* font-weight: 700; */
    }


/* ------------- Niche Revolution end */



/* How it works start ------------- */

.how-it-works {
  background: center no-repeat / cover url(./../img/how-it-works-bg.png);
}
  .how-it-works .container > h1:first-child {
    font-weight: 700;
    letter-spacing: -1px
  }
  .step {
    background-color: #ed0e51;
    font-weight: 600;
  }
  .step + h3 {
    font-weight: 700;
    letter-spacing: -1px;
  }
  .how-it-works p {
    margin-bottom: 1.5rem;
  }
  .how-it-works-bottom {
    background-color: white;
  }

/* ------------- How it works end */



/* Simplified start ------------- */

.simplified-section {
  background: center no-repeat / cover url(./../img/simplified-section-bg.png);
}

/* ------------- Simplified end */



/* Watch now section start ------------- */

.watch-now-section {
  background: center no-repeat / cover url(./../img/watch-now-section-bg.png);
}
  .watch-now-section .note {
    background-color: #fc3973;
  }

/* ------------- Watch now section end */



/* Why section start ------------- */

.why-section {
  background: center no-repeat / cover url(./../img/why-section-bg.png);
}
    .why-section .card span.pink-text {
      font-size: 1rem;
      letter-spacing: -1px;
    }
    .why-section .card {
      /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1); */
      box-shadow: 10px 17px 35px 0px rgba(0, 0, 0, 0.2);
    }
    .why-section ul {
      list-style-type: none;
    }
    .why-section ul li::before {
      color: #ed0e51;
      content: "\2022";
      font-weight: 800;
      display: inline-block; 
      width: 0.75em;
      margin-left: -1em;
    }

/* ------------- Why section end */



/* Money section start ------------- */

.money-section {
  background: center no-repeat / cover url(./../img/money-section-bg.png);
}
.white-strip {
  background-color: white;
  box-shadow: 15px 25px 42px 0px rgba(0, 0, 0, 0.1);
}

/* ------------- Money section end */



/* Moneyback section start ------------- */

.moneyback-section {
  background: center no-repeat / cover url(./../img/moneyback-section-bg.png);
}
  .moneyback-section .container h1 {
    font-weight: 300;
  }
  .moneyback-section .card {
    margin-top: 190px;
  }
  .moneyback-section .card p {
    margin-top: -125px;
  }
    .seal-container {
      position: relative;
      top: -164px;
      filter: drop-shadow(15px 26px 45px  rgba(0, 0, 0, 0.15));
    }

/* ------------- Moneyback section end */

/* Moneyback section start ------------- */
/* ------------- Moneyback section end */


/* Freelance section start ------------- */

.freelance-section {
  background: center no-repeat / cover url(./../img/freelance-section-bg.png);
}

/* ------------- Freelance section end */



/* Moneyback section start ------------- */

.last-section {
  background: center no-repeat / cover url(./../img/last-section-bg.png);
}

/* ------------- Moneyback section end */

/* Footer */
.footer {
  background-color: #e9e9f5;
}
  .footer a {
    text-decoration: none;
  }