body {
   text-align: center;
   font-family: "Montserrat", Helvetica, "Segoe UI", Arial, sans-serif;
}
.row {
   margin: 0;
}

/* ------------ Utilities ------------ */

/* Colors */

.black {
   color: #3e3e3e;
}
.white {
   color: white;
}

.yellow {
   color: #fff367;
}

.orange {
   color: #f47322;
}

.l-green {
   color: #47c3a4;
}
.d-green {
   color: #108966;
}
.vd-green {
   color: #053f39;
}
.bg-d-green {
   background-color: #146864;
}

.gradient-bg {
   background: no-repeat linear-gradient(90deg, #f06061, #fe961d);
}

/* Fonts */
.f-20 {
   font-size: 20px;
}
.f-22 {
   font-size: 22px;
}

.h-1 {
   font-size: 1.75rem;
}
.b-1 {
   font-weight: 700;
}
.b-2 {
   font-weight: 600;
}
.b-3 {
   font-weight: 500;
}
.b-4 {
   font-weight: 400;
}
.b-0 {
   font-weight: 100;
}

.ls-1px {
   letter-spacing: -1px;
}
.lh-1 {
   line-height: 1;
}

.br-2 {
   border-radius: 15px;
}
.br-3 {
   border-radius: 20px;
}

.mb-4-5 {
   margin-bottom: 2rem;
}
.my-4-5 {
   margin: 2rem 0;
}
.p-4-5 {
   padding: 2rem;
}
.png-shadow {
   filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.25));
}
.h-shadow {
   text-shadow: 4px 7px 12px rgba(0, 0, 0, 0.15);
}

ul {
   padding-left: 0;
}

/* Common elements */

.features-list ul {
   list-style-type: none;
   /* list-style-image: 0 0 url(./../img/head-logo.png); */
}
.features-list ul li {
   min-height: 61px;
   margin: 0 0 0.75rem;
   background: no-repeat 0px 0px url(./../img/tick.png);
   /* box-shadow: 4px 5px 3px #000; */
   padding-left: 3.5rem;
}

.time-box {
   font-size: 0.5rem;
   padding: 0.25rem 0.75rem 0.45rem;
   letter-spacing: 1px;
}
.time-box h3 {
   font-family: Open Sans, Arial;
}

.green-strip {
   display: inline-block;
   background: linear-gradient(90deg, #19bb66, #3bc1bd);
   padding: 10px 20px;
   border-radius: 30px;
}

/* Head section */

.head-section {
   background: url(./../img/head-bg.png) center / cover no-repeat;
}
.head-section .logo img {
   filter: drop-shadow(5px 8px 8px rgba(0, 0, 0, 0.25));
   color: #fff;
}
.head-section .container > :nth-child(4) {
   font-size: 1.25rem;
}

.video iframe {
   width: 100%;
   height: 24.8rem;
   box-shadow: 4px 22px 22px 5px rgba(0, 0, 0, 0.2);
}

.head-bottom a {
   background-color: #1cb85e;
   font-weight: 600;
   width: 200px;
   text-decoration: none;
   /* box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3); */
   box-shadow: 10px 17px 35px 0px rgba(0, 0, 0, 0.2);
   padding: 1.5rem 2rem;
}
.head-bottom a h4 {
   font-weight: 600;
}
.head-bottom a:hover {
   color: white;
   box-shadow: 14px 21px 35px rgba(0, 0, 0, 0.2);
}

@media (max-width: 575px) {
   .video iframe {
      height: 17rem;
   }
   .header-bottom a h3 {
      font-size: 1.2rem;
   }
}
@media (min-width: 768px) and (max-width: 992px) {
   .video iframe {
      height: 23.4rem;
   }
}

/* ----------- Head */

/* Shortcut ------------- */

.shortcut-section {
   background: url(./../img/shortcut-bg.png) center / cover no-repeat;
}

/* Evolution ------------- */

.evolution-section {
   background: url(./../img/evolution-bg.png) center / cover no-repeat;
}
.feature-image > div:first-of-type {
   box-shadow: 10px 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.feature-image img {
   filter: drop-shadow(6px 9px 12px rgba(0, 0, 0, 0.12));
}
.strips .strip {
   min-height: 4.75rem;
   box-shadow: 4px 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}
.strip img {
   /* background: top left no-repeat url(./../img/tick-shadow.png); */
   position: relative;
   top: 11px;
   left: -25px;
}

/* Insider ------------- */

.insider-section {
   background: url(./../img/insider-bg.png) center / cover no-repeat;
}
.image-card {
   filter: drop-shadow(0.5rem 1rem 0.8rem rgba(0, 0, 0, 0.15));
}

/* Planet ------------- */
.planet-section {
   background: url(./../img/planet-bg.png) center / cover no-repeat;
}

/* Powerful ------------- */

.powerful-section {
   background: url(./../img/powerful-bg.png) center / cover no-repeat;
}

/* Blow ------------- */

.blow-section {
   background: url(./../img/blow-bg.png) center / cover no-repeat;
}

/* Zero ------------- */
.zero-section {
   background: url(./../img/zero-bg.png) center / cover no-repeat;
}

/* Simple */
.simple-section {
   background: url(./../img/simple-bg.png) center / cover no-repeat;
}

/* Solution */
.solution-section {
   background: url(./../img/solution-bg.png) center / cover no-repeat;
}

/* Hoping */
.hoping-section {
   background: url(./../img/hoping-bg.png) center / cover no-repeat;
}

/* Popping */
.popping-section {
   background: url(./../img/popping-bg.png) center / cover no-repeat;
}

/* Welcome */
.welcome-section {
   background: url(./../img/welcome-bg.png) center / cover no-repeat;
}

/* Everyday */
.everyday-section {
   background: url(./../img/everyday-bg.png) center / cover no-repeat;
}

/* Step */
.step-section {
   background: url(./../img/step-bg.png) center / cover no-repeat;
}

/* Demo */
.demo-section {
   background: url(./../img/demo-bg.png) center / cover no-repeat;
}

/* Leverage */
.leverage-section {
   background: url(./../img/leverage-bg.png) center / cover no-repeat;
}

/* Promote */
.promote-section {
   background: url(./../img/promote-bg.png) center / cover no-repeat;
}

/* Competition */
.competition-section {
   background: url(./../img/competition-bg.png) center / cover no-repeat;
}

/* Convert */
.convert-section {
   background: url(./../img/convert-bg.png) center / cover no-repeat;
}

/* Skyrocket */
.sky-section {
   background: url(./../img/sky-bg.png) center / cover no-repeat;
}

/* Save */
.save-section {
   background: url(./../img/save-bg.png) center / cover no-repeat;
}

/* Launch */
.launch-section {
   background: url(./../img/launch-bg.png) center / cover no-repeat;
}

/* Average */
.average-section {
   background: url(./../img/average-bg.png) center / cover no-repeat;
}

/* Service  ----------------- */
.service-section {
   background: url(./../img/service-bg.png) center / cover no-repeat;
}

/* Everything  ----------------- */
.everything-section {
   background: url(./../img/everything-bg.png) center / cover no-repeat;
}

/* Banking -------------------- */
.banking-section {
   background: url(./../img/banking-bg.png) center / cover no-repeat;
}
.banking-section img {
   width: 70%;
}

/* Bonus --------------- */
.bonus-section {
   background: url(./../img/bonus-bg.png) center / cover no-repeat;
}

/* Guarantee ---------------- */
.guarantee-section {
   background: url(./../img/guarantee-bg.png) center / cover no-repeat;
}

.white-box {
   display: inline-block;
   background: white;
   padding: 0px 40px 40px 40px;
   width: 80%;
   margin-top: 100px;
   color: white;
   border-radius: 15px;
}
.white-box img {
   text-align: center;
   width: 25%;
   margin-top: -100px;
}

/* faq ---------------- */
.faq-section {
   background: url(./../img/faq-bg.png) center / cover no-repeat;
}

/* copyright ---------------- */
.copyright-section {
   background: url(./../img/copyright-bg.png) center / cover no-repeat;
}
.copyright-section ul {
   display: flex;
}
.copyright-section ul li {
   display: flex;
   text-decoration: none;
   white-space: nowrap;
}

@media (max-width: 767px) {
   .white-box {
      padding: 50px 20px 20px 40px;
      width: 90%;
      margin-top: 50px;
   }
   .white-box img {
      width: 40%;
      margin-top: -110px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .white-box {
      padding: 50px 30px 20px 40px;
      width: 100%;
      margin-top: 60px;
   }
   .white-box img {
      margin-top: -110px;
   }
}

@media (min-width: 992px) and (max-width: 1200px) {
   .white-box img {
      margin-top: -70px;
   }
}
